body{
    background-color: #eeeeee;
}

.bigcontainer{
    text-align:center;
}

.container{
    background:#000000;
}

.clockface{
    display:inline-block;
    width:300px;
    height:300px;
    padding:0;
    margin:0;
}

.frame{
    background-image: url("./img/background.png");
}

.hour{
    background-image: url("./img/spritesheets/analog-hours.png");
}

.minute{
    background-image: url("./img/spritesheets/analog-minutes.png");
}

.second{
    background-image: url("./img/spritesheets/analog-seconds.png");
}

.hour_d_tens{
    background-image: url("./img/spritesheets/digital-hours-tens.png");
}

.hour_d_ones{
    background-image: url("./img/spritesheets/digital-hours-ones.png");
}

.minute_d_tens{
    background-image: url("./img/spritesheets/digital-minutes-tens.png");
}

.minute_d_ones{
    background-image: url("./img/spritesheets/digital-minutes-ones.png");
}

.second_d_tens{
    background-image: url("./img/spritesheets/digital-seconds-tens.png");
}

.second_d_ones{
    background-image: url("./img/spritesheets/digital-seconds-ones.png");
}
